/*.selection {
  border-radius: 5px !important;
}*/
.techzarBtn {
  border-radius: 100px !important;
  padding: 7px !important;
  cursor: pointer;
  border-radius: 100px !important;
  height: 20px !important;
  line-height: 0 !important;
  width: 20px !important;
  min-height: 20px !important;
  border: 1px solid transparent !important;
}
.techzarBtn:hover{
  box-shadow: 0 0 0 2px rgba(129, 150, 158, 0.2);  
}
.techzarBtn:focus {
  outline: none !important;
}
.colorsDiv {
    text-align: center;
    padding: 5px;
}

/*.selection div:first-child {
    text-align: center;
    width: max-content;
    margin: 0 auto;
    left: 0;
    padding: 0px 5px;
}*/
.zar-highlight:hover .tTip,a:hover .tTip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.zar-highlight{
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.tTip {
    font-size: 16px;
    opacity: 0;
    z-index: 99;
    color: #fff;
    width: max-content;
    display: block;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: #353535;
    border: 1px solid #353535;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    left: 0;
    bottom: 35px;
}

.tTip:before{
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(51,51,51,0.9);
    position: absolute;
    bottom: -10px;
    left: 50%;
}
.zar-highlight {
  position: relative;
}
a.zar-btn_comment {
  color: #fff !important;
  text-decoration: none;
}
/* zar-highlight-info {
  display: none;
} */

/* May be using for pdf related codes  */
#colorOne:focus,
#colorTwo:focus,
#colorThree:focus,
#colorFour:focus,
#colorFive:focus,
.btn:focus,
button:focus {
  outline: none;
}
.redcolor {
  background: red;
}
#colorOne {
  background-color: rgb(255, 202, 215);
  border-color: rgb(242, 192, 204);
  border-radius: 100px;
  padding: 10px;
}
#colorTwo {
  background-color: rgb(255, 222, 112);
  border-color: rgb(242, 211, 106);
  border-radius: 100px;
  padding: 10px;
}
#colorThree {
  background-color: rgb(255, 251, 120);
  border-color: rgb(242, 238, 114);
  border-radius: 100px;
  padding: 10px;
}
#colorFour {
  background-color: rgb(209, 255, 97);
  border-color: rgb(199, 242, 92);
  border-radius: 100px;
  padding: 10px;
}
#colorFive {
  background-color: rgb(180, 255, 235);
  border-color: rgb(171, 242, 223);
  border-radius: 100px;
  padding: 10px;
}
.cOne {
  box-shadow: inset 0 -8px 0 #ffcad7;
}
.cTwo {
  box-shadow: inset 0 -8px 0 #ffde70;
}
.cThree {
  box-shadow: inset 0 -8px 0 #ffde70;
}
.cFour {
  box-shadow: inset 0 -8px 0 #ffde70;
}
.cFive {
  box-shadow: inset 0 -8px 0 #ffde70;
}
